html {background-color: black}
@font-face {
    font-family: 'arcadeclassic';
    src: url('ARCADECLASSIC.TTF');
    font-weight: normal;
    font-style: normal;

}

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    background-color: black;
    padding: 5px;
    font-family: arcadeclassic;
    justify-content: center;
}
.grid-item {
    color: white;
    padding: 13px;
    font-size: 30px;
    width: 20vw;
    text-align: center;
    font-family: arcadeclassic;
}
h1 {
    color: white;
    text-align: center;
    font-family: arcadeclassic;
}
.overskrift {
    word-spacing: 10px;
}